div.blog-header {
    background-image: url("../images/blog-header-background.jpg");
    background-position: 0 -300px;
}

div.blog-content > div.blog-content__item {
    margin-bottom: 20px; padding: 15px;
    transition: 700ms;
}

div.blog-content > div.blog-content__item:nth-child(even) {
    background-color: #d6d6d6;
}

div.blog-content > div.blog-content__item:hover {
    background-color: #cbcbcb;
    transition: 300ms;
}

div.blog-content > div.blog-content__item > h3 {
    margin-top: 0;
}

div.blog-content > div.blog-content__item > div > div:first-child {
    display: inline-block;
    width: 200px;
    height: 130px;
}

div.blog-content > div.blog-content__item > div > div:first-child > img {
    width: 200px;
}

div.blog-content > div.blog-content__item > div > div:nth-child(2) {
    display: inline-block;
    width: 70%; height: 130px;
    padding-left: 10px;
}

div.blog-content > div.blog-content__item > div > div:last-child {
    clear: both;
}


