body {
    background-color: #d7d7d7;
    font-size: 12pt;
    font-family: Tahoma, serif;
    color: #000618;
    margin: 0; padding: 0;
}

div.content {
    transition: .3s;
}

div.content.blur {
    filter: blur(5px);
    transition: .5s;
}

div.page-header {
    height: 125px;
    padding-top: 75px;
    text-align: center;
    background-attachment: fixed;
}

div.page-header > h1 {
    margin: 0;
}

div.menu {
    padding: 10px;
    border-bottom: 2px solid #9C8968;
}

div.content > div {
    width: 900px; min-height: 500px;
    margin: 0 auto; padding: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 15px #858585;
    background-color: #e7e7e7;
}

div.page-content {
    padding: 20px;
}

div.page-bottom {
    height: 80px;
    padding-top: 20px;
    background-color: #9C8968;
    text-align: center;
    font-weight: bold;
}

.table tr td {
    width: 100%;
    padding: 5px;
}

.table.table-stripped tr:nth-child(odd) {
    background-color: #b5b5b5;
}

.table.table-tight tr td {
    padding: 2px !important;
}

.table.table-stripped.red-lines tr:nth-child(odd) {
    background-color: #b55b5c;
}

.table.table-stripped.red-lines tr:hover {
    background-color: #b55b5c;
}

.table.table-stripped.green-lines tr:nth-child(odd) {
    background-color: #7bb576;
}

.table.table-stripped.green-lines tr:hover {
    background-color: #7bb576;
}

.test-display > div {
     border: 2px solid red;
     margin-top: 20px;
     padding: 10px;
     display: inline-block;
 }

.modal {
    display: none;
    position: fixed; z-index: 1;
    top: 50%; left: 50%;
    width: 200px; height: 200px;
    margin-left: -100px; margin-top: -100px;
    padding: 10px; border-radius: 5px;
    box-shadow: 0 0 40px #5d5d5d;
    background: rgba(255,255,255,0.95);
}

.modal > div:first-child {
    text-align: center;
}

.modal > span {
    position: absolute;
    top: 10px; right: 10px;
    font-weight: bolder;
    color: #53161b;
    cursor: pointer;
}

.modal > div.modal__body > form > input[type="text"],
.modal > div.modal__body > form > input[type="password"] {
    padding: 5px;
    margin-top: 5px;
    width: 94%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #efefef;
}

.modal > div.modal__body > form > input[type="text"]:focus,
.modal > div.modal__body > form > input[type="password"]:focus {
    box-shadow: 0 0 5px #9ecaff;
}

input.btn {
    padding: 5px;
    border: 1px solid #efefef; border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
}

input.btn.btn-default {
    background-color: #cbcbcb;
    color: #686868;
}


input.btn.btn-primary {
    background-color: #5588cb;
    color: #f0f0f0;
}

input.btn.btn-default:hover {
    background-color: #a2a2a2;
    transition: .2s;
}


input.btn.btn-primary:hover {
    background-color: #415f92;
    transition: .2s;
}